/**
 * CSS style sheet for the application.
 * 
 * CS3443-004 - Fall 2022
 *
 * @author Danny Ghrist (kda458)
 *
 */


/* General CSS for entire application */
AnchorPane {
    -fx-background-color: black;
}

Text {
    -fx-font-family: "Benguiat";
    -fx-font-size: 26px;
    -fx-fill: red;
}

.button {
    -fx-font-family: "Benguiat";
    -fx-background-radius: 15px;
    -fx-background-color: rgba(50,0,0,0);
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba3702;
    -fx-font-size: 18px;
    -fx-text-fill: #ba3702;
}

.button:hover {
    -fx-background-color: #ba3702;
    -fx-border-color: black;
    -fx-text-fill: black;
    
}

.label {
    -fx-font-family: "Benguiat";
}

.slider {
    /* THESE ARE BOTH UNKOWN PROPERTIES */
    -default-track-color: black;
    -track-color: black;
}
.slider .thumb {
    -fx-background-color: #ba3702;
}

.slider .track {
    -fx-background-color: #ba3702,
    linear-gradient(to bottom, #ba3702, -fx-text-box-border),
    -track-color;
          
}
.radio-button:selected .radio .dot {
    -fx-background-color: black;
    -fx-background-insets: 0;
}
.radio-button .radio {
    -fx-background-color: #ba3702;
    -fx-background-insets: 1;
}
/* End General CSS for entire application */


/* Begin MainView.fxml specific CSS styling. */
#titlePane {

}

#pizzaStartButton {
   
}

#titleText {
    -fx-font-size: 36px;
}

#creditsLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
}
/* End MainView.fxml specific CSS styling. */


/* Begin MissionView.fxml specific CSS styling. */
#contextLabel{
    -fx-font-size: 14px;
    -fx-text-fill: red;
}
/* End MissionView.fxml specific CSS styling. */


/* Begin LoadingView.fxml specific CSS styling */
#tipOneLabel{
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

#tipTwoLabel{
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

#continueButton{
    -fx-font-size: 14px;
}
/* End LoadingView.fxml specific CSS styling */


/* Begin GameView.fxml specific CSS styling. */
#rightVbox, #leftVbox {
    -fx-background-color: black;
}

#centerGridPane {
    -fx-background-image: url("../application/images/pizzaBack.png");
}

#pizzaLabel {
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}

#ingredientLabel, #ingredient1Label, #ingredient2Label, #ingredient3Label, #ingredient4Label, #ingredient5Label, #ingredient6Label {
    -fx-text-fill: #ff3000;
}

#numPizzasLabel{
    -fx-font-size: 14px;
    -fx-text-fill: red;
}
/* End GameView.fxml specific CSS styling. */


/* Begin PizzaFinished.fxml specific CSS styling. */
#pizzaFinishedPane {
    -fx-background-color: black;
}

#pizzaFinishedPane .button {

}
/* End PizzaFinished.fxml specific CSS styling. */
	

/* Begin LoseView.fxml specific CSS styling. */
#gameOverLabel{
    -fx-font-size: 40px;
    -fx-text-fill: white;
}
/* End LoseView.fxml specific CSS styling. */

