/**
 * CSS style sheet for the application.
 * 
 * CS3443-004 - Fall 2022
 *
 * @author Danny Ghrist (kda458)
 *
 */

/* Used to access the Text subnode of the label class. */

/* 
 * .label .text {
 *  -fx-strikethrough: true;
 * }
 */
#titleText {
    -fx-fill: red;
    -fx-font-size: 36px;
}

.button {
    /*-fx-font-family: "Benguiat";*/
}

#pizzaLabel {
    -fx-font-family: "Benguiat";
}

#pizzaStartButton{
	-fx-font-family: "Benguiat";
}

#morePizzaButton{
	-fx-font-family: "Benguiat";
}

#home{
	-fx-font-family: "Benguiat";
}

#hoorayPizzaFinished{
	-fx-font-family: "Benguiat";
}

#titlePane {
    -fx-background-color: black;
    -fx-font-family: "Benguiat";
    
}