/**
 * CSS style sheet for the application.
 * 
 * CS3443-004 - Fall 2022
 *
 * @author Danny Ghrist (kda458)
 *
 */

/* Used to access the Text subnode of the label class. */
/* 
 * .label .text {
 *  -fx-strikethrough: true;
 * }
 */

/* General CSS for entire application */
AnchorPane {
    -fx-background-color: black;
}

Text {
    -fx-font-family: "Benguiat";
    -fx-font-size: 26px;
    -fx-fill: red;
}

.button {
    -fx-font-family: "Benguiat";
    -fx-background-radius: 15px;
    -fx-background-color: rgba(50,0,0,0);
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba3702;
    -fx-font-size: 18px;
    -fx-text-fill: #ba3702;
}

.button:hover {
    -fx-background-color: #ba3702;
    -fx-border-color: black;
    -fx-text-fill: black;
    
}
/* End General CSS for entire application */


/* Begin MainView.fxml specific CSS styling. */
#titlePane {

}

#pizzaStartButton {
   
}

#titleText {
    -fx-font-size: 36px;
}
/* End MainView.fxml specific CSS styling. */


/* Begin MissionView.fxml specific CSS styling. */
#gameStartButton{

}

#contextLabel{
    -fx-font-family: "Benguiat";
    -fx-font-size: 14px;
    -fx-text-fill: red;
}
/* End MissionView.fxml specific CSS styling. */


/* Begin LoadingView.fxml specific CSS styling */
#tipOneLabel{
	-fx-font-family: "Benguiat";
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

#tipTwoLabel{
	-fx-font-family: "Benguiat";
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

#continueButton{
    -fx-font-size: 14px;
}
/* End LoadingView.fxml specific CSS styling */


/* Begin GameView.fxml specific CSS styling. */
/* This doesn't work for some reason, had to do the background color of both Hboxes within scenebuilder.
 * #topHbox, #bottomHbox {
    -fx-background-color: darkred;
} */

#rightVbox, #leftVbox, #centerStackPane {
    -fx-background-color: black;
}

#pizzaLabel {
    -fx-font-family: "Benguiat";
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}

#ingredientLabel, #ingredient1Label, #ingredient2Label, #ingredient3Label, #ingredient4Label, #ingredient5Label, #ingredient6Label {
    -fx-text-fill: #ff3000;
}
/* End GameView.fxml specific CSS styling. */


/* Begin PizzaFinished.fxml specific CSS styling. */
#pizzaFinishedPane {
    -fx-background-color: black;
}

#pizzaFinishedPane .button {

}

	
.slider {

    -default-track-color: black;
    -track-color: black;
    
}
.slider .thumb {
	-fx-background-color: #ba3702;
}

.slider .track {
    -fx-background-color: #ba3702,
    linear-gradient(to bottom, #ba3702, -fx-text-box-border),
    -track-color;
          
}
.radio-button:selected .radio .dot {
    -fx-background-color: black;
    -fx-background-insets: 0;
}
.radio-button .radio {
    -fx-background-color: #ba3702;
    -fx-background-insets: 1;
}

#gameOverLabel{
	-fx-font-family: "Benguiat";
    -fx-font-size: 40px;
    -fx-text-fill: white;
}


